<!DOCTYPE html>
<html>
<head>
    <title>WebApp-Demo</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    {% if show_app %}
        <div class="logo-item">
            <img src="{{ url_for('static', filename='images/logo_voya.png')}}" width="244" height="100%">
        </div>
        <nav class="horizontal-menu">
            <ul>
                <li>
                    <a class="menu-item nav-item {% if active_page == 'table' %}active{% endif %}" href="{{ url_for('table') }}" id="option_table">
                        <img src="{{ url_for('static', filename='images/icons8-cuadrícula-64.png') }}" width="32" height="32">
                        {{name_items_menu[0]}}
                    </a>
                </li>
                <li>
                    <a class="menu-item nav-item {% if active_page == 'charts' %}active{% endif %}" href="{{ url_for('charts') }}" id="option_chart">
                        <img src="{{ url_for('static', filename='images/icons8-gráfico-94.png') }}" width="32" height="32">
                        {{name_items_menu[1]}}
                    </a>
                </li>
            </ul>
        </nav>
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    {% else %}
        <div class="content hello">
            <h1>{{message_empty_page[0]}}</h1>
            <span>{{message_empty_page[1]}}</span>
        </div>
    {% endif %}

</body>
</html>
