{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center table_title">{{title_table}}</h1>
    <div class="container_table">
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Name</th>
                                <th scope="col">Menu Item</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in csv_data %}
                            <tr class="item_table">
                                <!--<td>{{ i }}</td>-->
                                <td>{{ d.name }}</td>
                                <td>{{ d.menu_item }}</td>
                                <td class="vertical_grow">{{ d.notes }}</td>
                                <td>{{ d.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
</body>
</html>
{% endblock %}
